.header{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7,2,17,0) 100%) ,url('images/Banner Image.png');
    background-repeat: no-repeat;
    background-size: 880px ;
    min-height: 370px;
    border-radius: 10px;
}
.header-h{
    text-align: center;
    color: white;
    padding: 40px;

}
.h1{
    font-size: 14px;
    margin-top: 110px;
}
.h2{
    font-size: 32px;
}
.head{
    width: 60%;
    text-align: center;
    margin: 40px 160px;
    background-color: bisque;
    padding: 15px;
}
.head h1{
    font-size: 35px;
    color: red;
}
.head h2{
    font-size: 10px;
    color: red;
}
.head h3{
    color: rgb(3, 3, 111);
}
.party{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7,2,17,0) 100%) , url('images/Vectorrr.png');
    background-size: 720px;
    background-repeat: no-repeat;
    min-height: 270px;
    border-radius: 10px;
    margin: 10px 80px;

    padding: 30px 50px;
    color: white;

}
.party h3{
    font-size: 35px;
}
.time{
    background-color: pink;
    text-align: center;
    padding: 20px;
    margin: 30px 80px;
    border-radius: 5px;
}
.red{
    color: red;
    font-size: 20px;

}
.btn{
    background-color: red;color: white;
    border: 1px solid black;
    border-radius:3px ;
    padding: 8px 10px;
}